
#allmap{width: 768px; height: 450px;}
.ml22{margin-left: 22px;}
.lxwm_icon{background: url(../images/lxwm_icon.png) no-repeat;display: inline-block;}
.lxdh_icon{height: 12px;width: 15px;background-position: 0 -4px;margin-top: 6px;}
.mtlf_icon{width:10px;height: 18px;background-position: -16px -1px;margin-top: 3px; margin-right: 4px;}
.ml5{margin-left: 5px;}
.hltd_icon{height: 10px;width: 15px;background-position: -27px -5px;margin-top: 7px;}
.swhz_icon{width: 15px;height: 15px;background-position: -43px -2px;margin-top: 5px;}
.kcjy_icon{width: 13px;height: 12px;background-position: -59px -4px;margin-top: 7px; margin-right:1px;}
.gsdz_icon{width: 11px;height: 15px;background-position: -75px -2px;margin-top: 5px; margin-right:3px;}
.wid32{width:32px;}
.wid40{width:40px;}

.contact_con{ padding-bottom:20px;}
.contact_con dt{ float:left; width:32px;}
.contact_con dd{ float:left; width:736px;}
.contact_con dd h3{ font-size:16px;}
.contact_con dd p{ line-height:30px;}<div style="position: static; width: 0px; height: 0px; border: none; padding: 0px; margin: 0px;"><div id="trans-tooltip"><div id="tip-left-top" style="background: url(../images/tip-left-top.png);"></div><div id="tip-top" style="background: url(../images/tip-top.png) repeat-x;"></div><div id="tip-right-top" style="background: url(../images/tip-right-top.png);"></div><div id="tip-right" style="background: url(../images/tip-right.png) repeat-y;"></div><div id="tip-right-bottom" style="background: url(../images/tip-right-bottom.png);"></div><div id="tip-bottom" style="background: url(../images/tip-bottom.png) repeat-x;"></div><div id="tip-left-bottom" style="background: url(../images/tip-left-bottom.png);"></div><div id="tip-left" style="background: url(../images/tip-left.png);"></div><div id="trans-content"></div></div><div id="tip-arrow-bottom" style="background: url(../images/tip-arrow-bottom.png);"></div><div id="tip-arrow-top" style="background: url(../images/tip-arrow-top.png);"></div></div></body></html>