<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>品牌合作</title>
	<link href="../css/index.css" rel="stylesheet" type="text/css">
	<link href="../css/global.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<link href="../css/bootstrap1.css" rel="stylesheet">
	<link href="../css/bxslider1.css" rel="stylesheet">
	<link href="../css/style1.css" rel="stylesheet">
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bxslider.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/bootstrap.js"></script>
	<link href="../css/bootstrap2.css" rel='stylesheet' type='text/css' />
	<link href="../css/style2.css" rel='stylesheet' type='text/css' />
	<link href="../css/fontawesome-all.css" rel="stylesheet">
	<link href="../http://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
</head>
<style>
	.span01 {
		color: rgb(255, 255, 255);
		font-size: 40px;
		vertical-align: middle;
		padding: 180px 0 20px 0;
	}

	.span02 {
		color: rgb(255, 255, 255);
		font-size: 17px;
		vertical-align: middle;
		margin-top: -30px;
	}


	.lis {
		display: inline-block;
		padding: 20px;
		font-weight: 600;
		font-size: 18px;
		border-radius: 10%;
	}
</style>

<body>
	<!--头部-->
	<div class="site_head">
		<div class="head_cont wth1200">
			<a href="../index.html"><img src="../images/logo.png" class="fl" style="height: 50px;margin-top: 13px;"></a>
			<ul class="head_nav fr">
				<li><a href="../index.html">主页</a></li>


				<li><a href="course.html">学研项目</a></li>

				<li><a href="tour.html">旅游服务</a></li>

				<li><a href="specialty.html">特产商铺</a></li>

				<li><a href="cooperate.html" class="navon">品牌合作</a></li>


				<li><a href="login.html">登录</a></li>
			</ul>
		</div>
	</div>
	<!--内容-->
	<div class="culture_banner_box">
		<div class="wth1200 culture_banner relative" style="text-align: center;margin: auto;">
			<p class="span01">品牌合作</p>
			<p class="span02">BRAND COOPERATE</p>
		</div>
	</div>



	<div style="margin: 30px 150px;">
	<div style="font-size: 30px;font-weight: 600; display: flex; justify-content: center;" >
		<span style="color:#2c3e50 ;">合作发展</span><span>———</span><span>现有的合作品牌带来的发展成就</span>
	</div>
	<br>
	<div>
		<ul class="nav" style="display: flex;justify-content: space-between;">
			<li  id= "li01"class="first lis" style="border: 3px #293240 solid ;">海底捞</li>
			<li id= "li02"class="second lis"style="border: 0px #293240 solid ;">苏宁易购</li>
			<li id= "li03"class="three lis"style="border: 0px #293240 solid ;">百度</li>
			<li id= "li04"class="four lis"style="border: 0px #293240 solid ;">罗森</li>
			<li id= "li05"class="five lis"style="border: 0px #293240 solid ;">抖音</li>
		</ul>
	</div>
</div>
	
    <!-- 使用display属性 -->
    <div id="page01" class=" page" style="display:block"> 
        <div class="product_bg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="product_index">
							<div class="product_head" data-move-y="-40px">
								<h2>海底捞</h2>
								<span></span>
								<p>Haidilao hot pot</p>
							</div>
							<div class="product_list">
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/海底捞1.jpg" class="img-thumbnail"
											alt="海底捞">
									</a>
								</div>
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/海底捞2.jpg" class="img-thumbnail" alt="海底捞">
									</a>
								</div>
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/海底捞3.jpg" class="img-thumbnail" alt="海底捞">
									</a>
								</div>
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/海底捞4.jpg" class="img-thumbnail" alt="海底捞">
									</a>
								</div>
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/海底捞5.jpg" class="img-thumbnail" alt="海底捞">
									</a>
								</div>
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/海底捞6.jpg" class="img-thumbnail" alt="海底捞">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div id="page02" class=" page" style="display:none">
        <div class="product_bg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="product_index">
							<div class="product_head" data-move-y="-40px">
								<h2>苏宁易购</h2>
								<span></span>
								<p>SUNING.COMCO</p>
							</div>
							<div class="product_list">
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/苏宁易购1.jpg" class="img-thumbnail"
											alt="苏宁易购">
									</a>
								</div>
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/苏宁易购2.jpg" class="img-thumbnail" alt="苏宁易购">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

    <div id="page03" class=" page" style="display:none">
		<div class="product_bg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="product_index">
							<div class="product_head" data-move-y="-40px">
								<h2>百度</h2>
								<span></span>
								<p>Baidu</p>
							</div>
							<div class="product_list">
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/百度.jpg" class="img-thumbnail"
											alt="百度">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div id="page04" class=" page" style="display:none">
        <div class="product_bg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="product_index">
							<div class="product_head" data-move-y="-40px">
								<h2>罗森</h2>
								<span></span>
								<p>LAWSON</p>
							</div>
							<div class="product_list">
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/罗森.jpg" class="img-thumbnail"
											alt="罗森">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div id="page05" class=" page" style="display:none">
        <div class="product_bg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="product_index">
							<div class="product_head" data-move-y="-40px">
								<h2>抖音</h2>
								<span></span>
								<p>TikTok</p>
							</div>
							<div class="product_list">
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/抖音.jpg" class="img-thumbnail"
											alt="抖音">
									</a>
								</div>
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/抖音2.jpg" class="img-thumbnail"
											alt="抖音">
									</a>
								</div>
								<div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="220px">
									<a href="javascript:;">
										<img src="../images/抖音3.jpg" class="img-thumbnail"
											alt="抖音">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

    <script>
        //使用排他思想
        //获取导航栏按钮
        let lis = document.querySelectorAll('li')
        //获取三个要切换的盒子
        let page01 = document.getElementById('page01')
        let page02 = document.getElementById('page02')
        let page03 = document.getElementById('page03')
		let page04 = document.getElementById('page04')
		let page05 = document.getElementById('page05')
        //点击导航栏，改变Iframe的src属性，实现页面切换
        for (let i = 0; i < lis.length; i++) {
            //绑定点击事件
            lis[i].onclick = function(event){
                if(event.target.classList.contains('first')){
                    changPage()
                    page01.style.display = 'block'
					li01.style.border='3px #293240 solid'
                }else if(event.target.classList.contains('second')){
                    changPage()
                    page02.style.display = 'block'
					li02.style.border='3px #293240 solid'
                }else if(event.target.classList.contains('three')){
                    changPage()
                    page03.style.display = 'block'
					li03.style.border='3px #293240 solid'
                }else if(event.target.classList.contains('four')){
                    changPage()
                    page04.style.display = 'block'
					li04.style.border='3px #293240 solid'
                }else if(event.target.classList.contains('five')){
                    changPage()
                    page05.style.display = 'block'
					li05.style.border='3px #293240 solid'
                }
            }
            
        }
        //封装一个排他思想的函数
        function changPage(){
            //获取所有page
            document.querySelectorAll('.page').forEach(el=>{
                el.style.display = 'none'
            })
			document.querySelectorAll('.lis').forEach(el=>{
                el.style.border = '0px #293240 solid'
            })
        }
    </script>
<!--合作流程-->
<div class="advantage">
	<div class="advantage_head" data-move-y="-30px">
		<h2>合作伙伴发展流程</h2>
	</div>
	<div class="container advantage_list">    
		<div class="row">
			<div class="col-sm-4 col-md-3 col-mm-6 advantage_col" data-move-y="200px">
  <a href="javascript:;" target="_blank">
	<img src="../images/合作伙伴流程 (1).png "alt="提出合作意向">
  </a>
  <p><a href="javascript:;" target="_blank">提出合作意向</a></p>
</div><div class="col-sm-4 col-md-3 col-mm-6 advantage_col" data-move-y="200px">
  <a href="javascript:;" target="_blank">
	<img src="../images/合作伙伴流程 (2).png" alt="具体业务联系">
  </a>
  <p><a href="javascript:;" target="_blank">具体业务联系</a></p>
</div><div class="col-sm-4 col-md-3 col-mm-6 advantage_col" data-move-y="200px">
  <a href="javascript:;" target="_blank">
	<img src="../images/合作伙伴流程 (3).png" alt="合作签约">
  </a>
  <p><a href="javascript:;" target="_blank">合作签约</a></p>
</div><div class="col-sm-4 col-md-3 col-mm-6 advantage_col" data-move-y="200px">
  <a href="javascript:;" target="_blank">
	<img src="../images/合作伙伴流程 (4).png" alt="进展跟踪">
  </a>
  <p><a href="javascript:;" target="_blank">进展跟踪</a></p>
</div>            </div>
	</div>
</div>
<section class="banner-w3layouts-bottom py-lg-5 py-3">
	<div class="container py-lg-4 py-3">
		<div class="product_head" data-move-y="-40px">
			<h2>申请加入</h2>
			<span></span>
			<p>APPLY TO JOIN</p>
		</div>
		<h3 class="tittle text-center">Register Now</h3>
			<div class="inner-sec-agileits-w3ls">
		<div class="login p-5 bg-light mx-auto mw-100">
			<form action="#" method="post">
					<div class="form-row">
							<div class="col-md-6 mb-3">
									<label for="validationCustom01">姓名</label>

								<input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
							</div>
							<div class="col-md-6 mb-3">
									<label for="validationCustom02">单位名称</label>
								<input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
									<label for="exampleInputPassword1 mb-2">电话号码</label>
								<input type="password" class="form-control" id="password1" placeholder="" required="">
							</div>
							<div class="form-group col-md-6">
									<label for="exampleInputPassword2 mb-2">邮箱</label>
									<input type="password" class="form-control" id="password2" placeholder="" required="">
								</div>
							
						</div>
						<button type="submit" class="btn btn-primary submit mb-4">Register</button>
							<p>
								<a href="#">By clicking Register, I agree to your terms</a>
							</p>
					</form>
	
				</div>
		</div>
	</div>
</section>

	
	<!--底部-->

	<!--底部-->

	<div style="height:240px;background-color: #242a35;border: #293240 1px solid;">
		<div style="margin: 30px 40px;">
			<span style="color:#fff;font-size: large;">“美栗”四渡河乡村振兴数字平台</span>
		</div>
		<div style="margin: 0px 100px;display: flex; justify-content: center;">
			<div style="display:inline-block;width: 33%;color: #fff; margin-left: 40px;">
				<span style="color: #fff;font-size: large; padding: 15px 0px;">制作机构</span>
				<hr style="background-color:#293240;border:none">
				<p style="color:#7F7F7F ;text-align:left;">北京化工大学“挑战杯”杨紫喻小组</p>
			</div>
			<div style="display:inline-block;width: 33%;color: #fff;margin-left:40px;">
				<span style="color: #fff;font-size: large;">合作机构</span>
				<hr style="background-color:#293240;border:none">
				<p style="color:#7F7F7F ;text-align:left">新青蜂侠驻四渡河村报道组</p>
			</div>
			<div style="display:inline-block;width: 33%;color: #fff;margin-left:40px;">
				<span style="color: #fff;font-size: large;">联系我们</span>
				<hr style="background-color:#293240;border:none">
				<p style="color:#7F7F7F ;text-align:left">负责人：杨紫喻</p>
				<p style="color:#7F7F7F ;text-align:left">联系方式：XXXXXXXXXXX</p>
				<p style="color:#7F7F7F ;text-align:left">地址：XXXXXXXXX</p>
			</div>
		</div>
	</div>
</body>

</html>