<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>民宿预定</title>
	<link href="../css/index.css" rel="stylesheet" type="text/css">
	<link href="../css/global.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/lib2.css">
	<link rel="stylesheet" type="text/css" href="../css/style.8390.css">
	<link rel="stylesheet" type="text/css" href="../css/des.8390.css">
	<link rel="stylesheet" type="text/css" href="../css/wgreen.css" id="themeCssPath">
	<link rel="stylesheet" type="text/css" href="../css/8390.css" id="ucssurl">
	<script type="text/javascript" src="../js/jquery1.min.js"></script>
	<script type="text/javascript" src="../js/org.js" data-main="baseMain"></script>
	<script type="text/javascript" src="../js/8390.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="../css/bootstrap2.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../css/flexslider.css" type="text/css" media="screen" property="" />
	<link rel="stylesheet" href="../css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="../css/owl.theme.css" type="text/css" media="all">
	<link href="../css/style2.css" rel='stylesheet' type='text/css' />
	<link href="../css/fontawesome-all.css" rel="stylesheet">
</head>
<style>
	.span01 {
		color: rgb(255, 255, 255);
		font-size: 40px;
		vertical-align: middle;
		padding: 180px 0 20px 0;
	}

	.span02 {
		color: rgb(255, 255, 255);
		font-size: 17px;
		vertical-align: middle;
		margin-top: -30px;
	}


	.lis {
		display: inline-block;
		padding: 20px;
		font-weight: 600;
		font-size: 18px;
		border-radius: 10%;
	}

	/*.btn-list {
		display: grid;
		grid-template-columns: repeat(3, 200px);
		gap: 50px;
		border-radius: 20px;
		padding: 50px;
		display: flex;
		justify-content: flex-end;
	}

	.btn {
		width: 200px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		cursor: pointer;
		user-select: none;
		letter-spacing: 1rem;
		text-indent: 1rem;
		border-radius: 20px;
		box-sizing: border-box;
		box-shadow: 0 0 5px 5px rgb(0 0 0 / 8%);
	}

	.twinkle {
		overflow: hidden;
		position: relative;
		border: 2px solid #2c3e50;
		color: #2c3e50;
		font-size: 25px;
		transition: background-color .2s;
		background-color: #fff;
	}

	.twinkle::before {
		content: "";
		position: absolute;
		width: 50px;
		height: 200%;
		background-color: rgba(255, 255, 255, .6);
		transform: skew(45deg) translate3d(-200px, 0, 0);
	}

	.twinkle:hover {
		background-color: #2c3e50;
		color: #fff;
	}

	.twinkle:hover::before {
		transition: ease-in-out .5s;
		transform: skew(45deg) translate3d(300px, 0, 0);
	}*/
</style>

<body>
	<!--头部-->
	<div class="site_head">
		<div class="head_cont wth1200">
			<a href="../index.html"><img src="../images/logo.png" class="fl" style="height: 50px;margin-top: 13px;"></a>
			<ul class="head_nav fr">
				<li><a href="../index.html">主页</a></li>

				<li><a href="course.html">学研项目</a></li>

				<li><a href="tour.html">旅游服务</a></li>

				<li><a href="specialty.html" class="navon">特产商铺</a></li>

				<li><a href="cooperate.html">品牌合作</a></li>

				<li><a href="login.html">登录</a></li>
			</ul>
		</div>
	</div>
	<!--内容-->
	<div class="culture_banner_box">
		<div class="wth1200 culture_banner relative" style="text-align: center;margin: auto;">
			<p class="span01">特产商铺</p>
			<p class="span02">SPECIALTY SHOP</p>
		</div>
	</div>

	<div class="npagePage ff_pageList">
		<div class="content" style="margin-top: 70px;">
			<div style="display: flex;justify-content: center; font-size: 35px;font-weight: 600; margin: 40px 0;">
				<span>怀柔板栗优势</span>
			</div>
			<div class="product_head" data-move-y="-40px">
				<div class="mlist service module ff_noSlider">
					<div class="bgmask"></div>
					<div class="module_container">
						<div class="container_content nocat">
							<div class="content_wrapper">
								<div class="content_list clearfix">
									<div id="item_block_0" class="item_block_0 item_block wow"
										style="animation-delay:.0s">
										<a href="" class="item_box">
											<div href="" class="item_img" target="_blank" style="display: flex;justify-content: center;"> <img
													src="../images/产品优势 (6).png" />
												<div class="item_mask"></div>
											</div>
											<div class="item_wrapper clearfix">
												<div class="item_info clearfix">
													<p class="title ellipsis">优点1</p>
												</div>
												<div class="item_des">
													<p class="description">简介</p>
												</div>
												<span href="" class="details hide"> MORE<i class="fa fa-angle-right"
														aria-hidden="true"></i> </span>
											</div>
										</a> <a href="" class="details"> MORE<i class="fa fa-angle-right"
												aria-hidden="true"></i> </a>
										<div class="item_tags clearfix"> <i class="fa fa-tags"></i> </div>
									</div>
									<div id="item_block_1" class="item_block_1 item_block wow"
										style="animation-delay:.1s">
										<a href="" class="item_box">
											<div href="" class="item_img" target="_blank" style="display: flex;justify-content: center;"> <img
													src="../images/产品优势 (5).png" />
												<div class="item_mask"></div>
											</div>
											<div class="item_wrapper clearfix">
												<div class="item_info clearfix">
													<p class="title ellipsis">优点2</p>
												</div>
												<div class="item_des">
													<p class="description">简介</p>
												</div>
												<span href="" class="details hide"> MORE<i class="fa fa-angle-right"
														aria-hidden="true"></i> </span>
											</div>
										</a> <a href="" class="details"> MORE<i class="fa fa-angle-right"
												aria-hidden="true"></i> </a>
										<div class="item_tags clearfix"> <i class="fa fa-tags"></i> </div>
									</div>
									<div id="item_block_2" class="item_block_2 item_block wow"
										style="animation-delay:.2s">
										<a href="" class="item_box">
											<div href="" class="item_img" target="_blank" style="display: flex;justify-content: center;"> <img
													src="../images/产品优势 (4).png" />
												<div class="item_mask"></div>
											</div>
											<div class="item_wrapper clearfix">
												<div class="item_info clearfix">
													<p class="title ellipsis">优点3</p>
												</div>
												<div class="item_des">
													<p class="description">简介</p>
												</div>
												<span href="" class="details hide"> MORE<i class="fa fa-angle-right"
														aria-hidden="true"></i> </span>
											</div>
										</a> <a href="" class="details"> MORE<i class="fa fa-angle-right"
												aria-hidden="true"></i> </a>
										<div class="item_tags clearfix"> <i class="fa fa-tags"></i> </div>
									</div>
									<div id="item_block_3" class="item_block_3 item_block wow"
										style="animation-delay:.3s">
										<a href="" class="item_box">
											<div href="" class="item_img" target="_blank" style="display: flex;justify-content: center;"> <img
													src="../images/产品优势 (3).png" />
												<div class="item_mask"></div>
											</div>
											<div class="item_wrapper clearfix">
												<div class="item_info clearfix">
													<p class="title ellipsis">优点4</p>
												</div>
												<div class="item_des">
													<p class="description">简介</p>
												</div>
												<span href="" class="details hide"> MORE<i class="fa fa-angle-right"
														aria-hidden="true"></i> </span>
											</div>
										</a> <a href="" class="details"> MORE<i class="fa fa-angle-right"
												aria-hidden="true"></i> </a>
										<div class="item_tags clearfix"> <i class="fa fa-tags"></i> </div>
									</div>
									<div id="item_block_4" class="item_block_4 item_block wow"
										style="animation-delay:.4s">
										<a href="" class="item_box">
											<div href="" class="item_img" target="_blank" style="display: flex;justify-content: center;"> <img
													src="../images/产品优势 (2).png" />
												<div class="item_mask"></div>
											</div>
											<div class="item_wrapper clearfix">
												<div class="item_info clearfix">
													<p class="title ellipsis">优点5</p>
												</div>
												<div class="item_des">
													<p class="description">简介</p>
												</div>
												<span href="" class="details hide"> MORE<i class="fa fa-angle-right"
														aria-hidden="true"></i> </span>
											</div>
										</a> <a href="" class="details"> MORE<i class="fa fa-angle-right"
												aria-hidden="true"></i> </a>
										<div class="item_tags clearfix"> <i class="fa fa-tags"></i> </div>
									</div>
									<div id="item_block_5" class="item_block_5 item_block wow"
										style="animation-delay:.5s">
										<a href="" class="item_box">
											<div href="" class="item_img" target="_blank" style="display: flex;justify-content: center;"> <img
													src="../images/产品优势 (1).png" />
												<div class="item_mask"></div>
											</div>
											<div class="item_wrapper clearfix">
												<div class="item_info clearfix">
													<p class="title ellipsis">优点6</p>
												</div>
												<div class="item_des">
													<p class="description">简介</p>
												</div>
												<span href="" class="details hide"> MORE<i class="fa fa-angle-right"
														aria-hidden="true"></i> </span>
											</div>
										</a> <a href="" class="details"> MORE<i class="fa fa-angle-right"
												aria-hidden="true"></i> </a>
										<div class="item_tags clearfix"> <i class="fa fa-tags"></i> </div>
									</div>
								</div>
							</div>

						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<section class="banner-w3layouts-bottom py-lg-5 py-3" id="plats">
			<div class="container py-lg-4 py-3">
				<h3 class="tittle text-center">板栗交易</h3>
				<div class="row inner-sec-agileits-w3ls">
					<div class="tabs">
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
								aria-labelledby="pills-home-tab">
								<div class="menu-grids mt-4">
	
									<div class="row t-in">
										<div class="col-lg-4 text-info-sec">
											<div class="card">
												<div class="card-body">
													<img src="../pictures/怀柔板栗1.jpg" alt="Realtie" class="img-fluid" />
													<h5 class="card-title mt-3">板栗1号种
														<span>$731,000 </span>
													</h5>
													<p class="card-text">
														<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
													</p>
													
												</div>
											</div>
										</div>
										<div class="col-lg-4 text-info-sec">
											<div class="card">
												<div class="card-body">
													<img src="../pictures/怀柔板栗2.jpg" alt="Realtie" class="img-fluid" />
													<div class="label-inner">
														<span class="status">For Rent</span>
													</div>
													<h5 class="card-title mt-3">板栗2号种
														<span>$431,000 </span>
													</h5>
													<p class="card-text">
														<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
													</p>
												
												</div>
											</div>
										</div>
										<div class="col-lg-4 text-info-sec">
											<div class="card">
												<div class="card-body">
													<img src="../pictures/怀柔板栗3.jpg" alt="Realtie" class="img-fluid" />
													<h5 class="card-title mt-3">板栗3号种
														<span>$531,000 </span>
													</h5>
													<p class="card-text">
														<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="row t-in mt-4">
										<div class="col-lg-4 text-info-sec">
											<div class="card">
												<div class="card-body">
													<img src="../pictures/怀柔板栗4.jpg" alt="Realtie" class="img-fluid" />
													<div class="label-inner">
														<span class="status">For Rent</span>
													</div>
													<h5 class="card-title mt-3">板栗4号种
														<span>$731,000 </span>
													</h5>
													<p class="card-text">
														<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
													</p>
												</div>
											</div>
										</div>
										<div class="col-lg-4 text-info-sec">
											<div class="card">
												<div class="card-body">
													<img src="../pictures/怀柔板栗5.jpg" alt="Realtie" class="img-fluid" />
													<h5 class="card-title mt-3">板栗5号种
														<span>$431,000 </span>
													</h5>
													<p class="card-text">
														<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
													</p>
												</div>
											</div>
										</div>
										<div class="col-lg-4 text-info-sec">
											<div class="card">
												<div class="card-body">
													<img src="../pictures/怀柔板栗6.jpg" alt="Realtie" class="img-fluid" />
													<div class="label-inner">
														<span class="status">For Sale</span>
													</div>
													<h5 class="card-title mt-3">板栗6号种
														<span>$531,000 </span>
													</h5>
													<p class="card-text">
														<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--底部-->

		<!--底部-->

		<div style="height:240px;background-color: #293240;border: #293240 1px solid;">
			<div style="margin: 30px 40px;">
				<span style="color:#fff;font-size: large;">“美栗”四渡河乡村振兴数字平台</span>
			</div>
			<div style="margin: 0px 100px;display: flex; justify-content: center;">
				<div style="display:inline-block;width: 33%;color: #fff; margin-left: 40px;">
					<span style="color: #fff;font-size: large; padding: 15px 0px;">制作机构</span>
					<hr style="background-color:#293240;border:none">
					<p style="color:#7F7F7F ;text-align:left;">北京化工大学“挑战杯”杨紫喻小组</p>
				</div>
				<div style="display:inline-block;width: 33%;color: #fff;margin-left:40px;">
					<span style="color: #fff;font-size: large;">合作机构</span>
					<hr style="background-color:#293240;border:none">
					<p style="color:#7F7F7F ;text-align:left">新青蜂侠驻四渡河村报道组</p>
				</div>
				<div style="display:inline-block;width: 33%;color: #fff;margin-left:40px;">
					<span style="color: #fff;font-size: large;">联系我们</span>
					<hr style="background-color:#293240;border:none">
					<p style="color:#7F7F7F ;text-align:left">负责人：杨紫喻</p>
					<p style="color:#7F7F7F ;text-align:left">联系方式：XXXXXXXXXXX</p>
					<p style="color:#7F7F7F ;text-align:left">地址：XXXXXXXXX</p>
				</div>
			</div>
		</div>
</body>

</html>