<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>民宿服务</title>
	<link href="../css/index.css" rel="stylesheet" type="text/css">
	<link href="../css/global.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="../css/bootstrap2.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../css/flexslider.css" type="text/css" media="screen" property="" />
	<link rel="stylesheet" href="../css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="../css/owl.theme.css" type="text/css" media="all">
	<link href="../css/style2.css" rel='stylesheet' type='text/css' />
	<link href="../css/fontawesome-all.css" rel="stylesheet">
</head>
<style>
	.span01 {
		color: rgb(255, 255, 255);
		font-size: 40px;
		vertical-align: middle;
		padding: 180px 0 20px 0;
	}

	.span02 {
		color: rgb(255, 255, 255);
		font-size: 17px;
		vertical-align: middle;
		margin-top: -30px;
	}


	.lis {
		display: inline-block;
		padding: 20px;
		font-weight: 600;
		font-size: 18px;
		border-radius: 10%;
	}
	/*.btn-list {
		display: grid;
		grid-template-columns: repeat(3, 200px);
		gap: 50px;
		border-radius: 20px;
		padding: 50px;
		display: flex;
		justify-content: flex-end;
	}

	.btn {
		width: 200px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		cursor: pointer;
		user-select: none;
		letter-spacing: 1rem;
		text-indent: 1rem;
		border-radius: 20px;
		box-sizing: border-box;
		box-shadow: 0 0 5px 5px rgb(0 0 0 / 8%);
	}

	.twinkle {
		overflow: hidden;
		position: relative;
		border: 2px solid #2c3e50;
		color: #2c3e50;
		font-size: 25px;
		transition: background-color .2s;
		background-color: #fff;
	}

	.twinkle::before {
		content: "";
		position: absolute;
		width: 50px;
		height: 200%;
		background-color: rgba(255, 255, 255, .6);
		transform: skew(45deg) translate3d(-200px, 0, 0);
	}

	.twinkle:hover {
		background-color: #2c3e50;
		color: #fff;
	}

	.twinkle:hover::before {
		transition: ease-in-out .5s;
		transform: skew(45deg) translate3d(300px, 0, 0);
	}*/
</style>

<body>
	<!--头部-->
	<div class="site_head">
		<div class="head_cont wth1200">
			<a href="../index.html"><img src="../images/logo.png" class="fl" style="height: 50px;margin-top: 13px;"></a>
			<ul class="head_nav fr">
				<li><a href="../index.html">主页</a></li>

				<li><a href="course.html">学研项目</a></li>

				<li><a href="tour.html" class="navon">旅游服务</a></li>

				<li><a href="specialty.html">特产商铺</a></li>

				<li><a href="cooperate.html">品牌合作</a></li>

				<li><a href="login.html">登录</a></li>

			</ul>
		</div>
	</div>
	<!--内容-->
	<div class="culture_banner_box">
		<div class="wth1200 culture_banner relative" style="text-align: center;margin: auto;">
			<p class="span01">民宿服务</p>
			<p class="span02">HOMESTEAY SERVICE</p>
		</div>
	</div>
	<div class="pagemarg">
		<div class="wth1200">
			<div class="index_title">
				<b class="fs18">关于本站</b>
				<em></em>
			</div>
			<div class="container1" style="margin: 30px 20px;">
				<div class="slideshow" id="slideshow-container">
					<img class="slide" src="../pictures/怀柔景色1.jpg" alt="Slide 1">
					<img class="slide" src="../pictures/怀柔景色2.jpg" alt="Slide 2">
					<img class="slide" src="../pictures/怀柔景色3.jpg" alt="Slide 3">
				</div>
				<div class="content">
					<div class="index_title">
						<span style="margin: 8px 10px 1px 0;"></span>
						<b class="fs18">网站介绍</b>

					</div>
					<P>怀柔知名景点：</P>
					<p>红螺寺</p>
					<p>雁栖湖</p>
					<p>紫云山</p>
					<p>黄花城长城</p>
					<p>慕田峪长城</p>
					<p>喇叭沟门原始森林</p>
					<br>
					<p>“怀柔”一名出自《诗经·周颂·时迈》中的“怀柔百神”，意思是招安，主要针对的是少数民族。春秋战国时代，怀柔是燕秦活动的战略要地，属于燕国领土，秦朝统一中国后所设立的渔阳郡的郡治即为今天位于怀柔区北房镇的梨园庄村。而曹魏之后由于渔阳郡的战略地位下降所以怀柔地区也逐渐走向了衰落，唐代时曾经建立的“怀柔县”治所为今日的顺义县城，为“怀柔”首次作为县级行政区域名称，但与后来的怀柔县并无关联。明朝洪武元年（1368年）12月，改北京北部顺州为顺义县，改檀州为密云、怀柔二县，这是怀柔建立区一级建制的开始。明正德8年（1513年），升昌平为州，怀柔为昌平州属县。
					</p>

				</div>
			</div>
		</div>
	</div>

	<section class="banner-w3layouts-bottom py-lg-5 py-3" id="plats">
		<div class="container py-lg-4 py-3">
			<h3 class="tittle text-center">民宿服务</h3>
			<div class="row inner-sec-agileits-w3ls">
				<div class="tabs">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
							aria-labelledby="pills-home-tab">
							<div class="menu-grids mt-4">

								<div class="row t-in">
									<div class="col-lg-4 text-info-sec">
										<div class="card">
											<div class="card-body">
												<img src="../images/g4.jpg" alt="Realtie" class="img-fluid" />
												<h5 class="card-title mt-3">樱花苑1号楼
													<span>$731,000 </span>
												</h5>
												<p class="card-text">
													<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
												</p>
												<ul class="property-box">
													<li class="field-item">
														<span>
															<i class="fas fa-bed"></i> 3</span> Bedrooms
													</li>
													<li class="field-item mx-lg-2 mx-md-1">
														<span>
															<i class="fas fa-bath"></i> 4</span> Bathroom
													</li>
													<li class="field-item">
														<span>
															<i class="far fa-building"></i> 3</span> Garages
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-4 text-info-sec">
										<div class="card">
											<div class="card-body">
												<img src="../images/g5.jpg" alt="Realtie" class="img-fluid" />
												<div class="label-inner">
													<span class="status">For Rent</span>
												</div>
												<h5 class="card-title mt-3">樱花苑2号楼
													<span>$431,000 </span>
												</h5>
												<p class="card-text">
													<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
												</p>
												<ul class="property-box">
													<li class="field-item">
														<span>
															<i class="fas fa-bed"></i> 2</span> Bedrooms
													</li>
													<li class="field-item mx-lg-2 mx-md-1">
														<span>
															<i class="fas fa-bath"></i> 1</span> Bathroom
													</li>
													<li class="field-item">
														<span>
															<i class="far fa-building"></i> 2</span> Garages
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-4 text-info-sec">
										<div class="card">
											<div class="card-body">
												<img src="../images/g6.jpg" alt="Realtie" class="img-fluid" />
												<h5 class="card-title mt-3">樱花苑3号楼
													<span>$531,000 </span>
												</h5>
												<p class="card-text">
													<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
												</p>
												<ul class="property-box">
													<li class="field-item">
														<span>
															<i class="fas fa-bed"></i> 3</span> Bedrooms
													</li>
													<li class="field-item mx-lg-2 mx-md-1">
														<span>
															<i class="fas fa-bath"></i> 2</span> Bathroom
													</li>
													<li class="field-item">
														<span>
															<i class="far fa-building"></i> 2</span> Garages
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="row t-in mt-4">
									<div class="col-lg-4 text-info-sec">
										<div class="card">
											<div class="card-body">
												<img src="../images/g1.jpg" alt="Realtie" class="img-fluid" />
												<div class="label-inner">
													<span class="status">For Rent</span>
												</div>
												<h5 class="card-title mt-3">樱花苑4号楼
													<span>$731,000 </span>
												</h5>
												<p class="card-text">
													<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
												</p>
												<ul class="property-box">
													<li class="field-item">
														<span>
															<i class="fas fa-bed"></i> 2</span> Bedrooms
													</li>
													<li class="field-item mx-lg-2 mx-md-1">
														<span>
															<i class="fas fa-bath"></i> 1</span> Bathroom
													</li>
													<li class="field-item">
														<span>
															<i class="far fa-building"></i> 2</span> Garages
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-4 text-info-sec">
										<div class="card">
											<div class="card-body">
												<img src="../images/g2.jpg" alt="Realtie" class="img-fluid" />
												<h5 class="card-title mt-3">樱花苑5号楼
													<span>$431,000 </span>
												</h5>
												<p class="card-text">
													<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
												</p>
												<ul class="property-box">
													<li class="field-item">
														<span>
															<i class="fas fa-bed"></i> 3</span> Bedrooms
													</li>
													<li class="field-item mx-lg-2 mx-md-1">
														<span>
															<i class="fas fa-bath"></i> 2</span> Bathroom
													</li>
													<li class="field-item">
														<span>
															<i class="far fa-building"></i> 2</span> Garages
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-4 text-info-sec">
										<div class="card">
											<div class="card-body">
												<img src="../images/g3.jpg" alt="Realtie" class="img-fluid" />
												<div class="label-inner">
													<span class="status">For Sale</span>
												</div>
												<h5 class="card-title mt-3">樱花苑6号楼
													<span>$531,000 </span>
												</h5>
												<p class="card-text">
													<i class="fas fa-map-marker-alt"></i> 南涧路29号 / 北京昌平南口镇
												</p>
												<ul class="property-box">
													<li class="field-item">
														<span>
															<i class="fas fa-bed"></i> 2</span> Bedrooms
													</li>
													<li class="field-item mx-lg-2 mx-md-1">
														<span>
															<i class="fas fa-bath"></i> 1</span> Bathroom
													</li>
													<li class="field-item">
														<span>
															<i class="far fa-building"></i> 2</span> Garages
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--底部-->

	<!--底部-->

	<div style="height:240px;background-color: #293240;border: #293240 1px solid;">
		<div style="margin: 30px 40px;">
			<span style="color:#fff;font-size: large;">“美栗”四渡河乡村振兴数字平台</span>
		</div>
		<div style="margin: 0px 100px;display: flex; justify-content: center;">
			<div style="display:inline-block;width: 33%;color: #fff; margin-left: 40px;">
				<span style="color: #fff;font-size: large; padding: 15px 0px;">制作机构</span>
				<hr style="background-color:#293240;border:none">
				<p style="color:#7F7F7F ;text-align:left;">北京化工大学“挑战杯”杨紫喻小组</p>
			</div>
			<div style="display:inline-block;width: 33%;color: #fff;margin-left:40px;">
				<span style="color: #fff;font-size: large;">合作机构</span>
				<hr style="background-color:#293240;border:none">
				<p style="color:#7F7F7F ;text-align:left">新青蜂侠驻四渡河村报道组</p>
			</div>
			<div style="display:inline-block;width: 33%;color: #fff;margin-left:40px;">
				<span style="color: #fff;font-size: large;">联系我们</span>
				<hr style="background-color:#293240;border:none">
				<p style="color:#7F7F7F ;text-align:left">负责人：杨紫喻</p>
				<p style="color:#7F7F7F ;text-align:left">联系方式：XXXXXXXXXXX</p>
				<p style="color:#7F7F7F ;text-align:left">地址：XXXXXXXXX</p>
			</div>
		</div>
	</div>
</body>
<script>
	// Get all the slide elements
	const slides = document.querySelectorAll('.slide');
	let currentSlide = 0;

	// Function to display the current slide
	function showSlide(index) {
		// Hide all slides
		slides.forEach((slide) => {
			slide.style.display = 'none';
		});

		// Display the current slide
		slides[index].style.display = 'block';
		adjustHeight(); // 调整高度
	}

	// Function to change to the next slide
	function nextSlide() {
		currentSlide = (currentSlide + 1) % slides.length;
		showSlide(currentSlide);
	}

	// Set initial slide
	showSlide(currentSlide);

	// Automatically switch to the next slide every 3 seconds
	const intervalId = setInterval(nextSlide, 3000);

	// Function to adjust the height of slideshow container and content container
	function adjustHeight() {
		const slideshowContainer = document.querySelector('.slideshow');
		const contentContainer = document.querySelector('.content');

		const slideshowHeight = slideshowContainer.offsetHeight;
		const contentHeight = contentContainer.offsetHeight;

		if (slideshowHeight > contentHeight) {
			contentContainer.style.height = slideshowHeight + 'px';
		} else {
			slideshowContainer.style.height = contentHeight + 'px';
		}
	}

	// Call adjustHeight initially and on window load
	window.addEventListener('load', adjustHeight);

	// Call adjustHeight on window resize
	window.addEventListener('resize', adjustHeight);

	// Call clearInterval to stop the interval when the page is being unloaded or navigated away
	window.addEventListener('beforeunload', function () {
		clearInterval(intervalId);
	});

</script>
</html>